
/*! LOGO */
.logo {
  display:flex;
  justify-content: center;
  font-size: 2vw;
  /* font-size: 200%; */
  background:#191919;

  text-align: center;
  align-items: center;

  /* padding: 2.5vw 0vw; */
  /* margin: 2 auto; */

  height: 7vw;
  width: 9vw;

  /* min-height: 40px; */
  /* min-width: 70px; */
  /* margin: 2 ; */
  }

  

  /*! DROPDOWN LIST */
  .services:hover .dropdown {
    display: block;
  }
    
  .dropdown {
    /* display: block; */
    position: absolute;
    /* right: 9em; */
    
    background-color: #191919;
    opacity: 80%;
    /* padding: 2rem; */
    /* margin: 0.5rem 2rem; */
    display: none;
    /* gap:2vw; */
    
  }
  
  .dropdown li {
    /* padding: 2vw 2vw; */
    /* padding:0.5em 50%; */
    /* width: 8em; */
    text-align: center;
    
    
  }

  /*! MENU BAR */
.navbar {
  padding: 20px;
  position: absolute;
  top:0;
  right:0;
  left:0;
  background:transparent;
  display: flex; 
  justify-content: space-between; 
}

.nav-links a {
  padding: 20px;
  
  /* display: block; */
  text-decoration:none;
}

.nav-links {
  display: flex; 
  gap: 6vw;
  font-size: 2vw;
  /* text-decoration: none; */
  text-decoration:none;
  /* justify-content: space-evenly;  */
  /* space-between; */
  
  
    list-style: none;
    
    /* padding: 1vw;
    /* margin: 2vw; */
    /* display: flex; */
    /* padding: auto 2vw; */
    /* align:top; */
    /* align-items:top; */
} */

.nav-links li {
  /* text-decoration: none; */
  display: flex; 
  /* gap: 6vw; */
  justify-content: space-around; 
  
  /* margin: 10px 10px; */
  /* margin: auto 1vw; */
  /* padding: 1vw 1vw; */
  text-align: center;
  align: top;
  
}

.nav-links li:hover {
  /* text-decoration: none; */
  background-color: red;
}


/*! HAMBURGER ICON */
.hamburger {
    font-size: 24px;
}
.close{
  font-size: 24px;
}
#menu-icon{
  visibility: hidden
}

#close-icon{
  visibility:hidden;
}


/*! FUNCION FOR DISPLAYING HAMBURGER MENU  */
@media only screen and (max-width: 700px) {
    .navbar{
      padding:4vw;
      justify-content: space-between      
    }

    #menu-icon {
      visibility: visible;
    }

    .spacer{
      height:100px;
      display:flex;
    }
    
    .nav-links {
        padding:6vw 4.5vw;
        position: fixed;
        transform: translateY(-103%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        min-height: 103%;
        width: 100%;
    }

    .nav-links.active {  
      transform: translateY(-3%);
      flex-direction: column;
      opacity: 0.9;
    }      
    
    .nav-links li {
        /* margin: 20px 20px; */
    }

    .hamburger {
      display:flex;
      justify-content: center;

      /* position: fixed; */
      /* z-index: 100; */
      /* top: 2.5rem; */
      /* right: 2.5rem; */
      /* padding: 4px; */
    }
    #close-icon{
      visibility:visible;
      /* margin:20% 20%; */
      display:flex;
      justify-content: right;

      
    }

}


