
/*! LOGO */
.logo {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:#191919;
  padding: 3vw;
  font-size: 2vw;
  height: 2vh;
}

.navbar > ul >li > a{ 
  padding: 0 4vw;
  /* margin:0; */
  /* align-items: center; */
}
.navbar > ul {
  /* display:flex; */
  /* justify-content: center; */
  /* margin:0;  */
  /* padding: 0; */
}

  /*! MENU BAR */
.navbar {
  align-items:center;

  padding: 4vw;
  position: absolute;
  top:0;
  right:0;
  left:0;
  background:transparent;
  display: flex;
  justify-content: space-between;
}


.nav-links {
  align-items:center;
  display: flex; 
  font-size: 2vw;
  text-decoration:none;  
  list-style: none;
}

.nav-links a {  
  /* margin:0; */
  text-decoration:none;
}

.nav-links li {
  /* align-items:center; */
  /* margin:0; */
  background:green;
  padding: 1vw 0vw;
  display: flex; 
  /* justify-content: space-around;  */
  /* text-align: center; */
  /* align: top; */
}

.nav-links li:hover {
  background-color: red;
}

/** TEST */


.services{
  /* --should-show:none; */
  /* position:relative; */
}
.services:hover{
  --should-show:unset;
}
.services > a{
  /* padding:0;
  margin:0; */
  background-color:yellow;
  /* padding-bottom: 2vw */
}

.services > ul{
  display: var(--should-show);
  position: absolute;
  /* background-color: #191919; */
  background-color: blue;
  padding:0;
  margin:0;
  display:flex;
  flex-direction: column;
  /* width:100%; */
  top: 60%;
  list-style:none;
}

.services > ul > li{
  /* margin:0; */
  padding: 1vh 2vw;
  /* width:100%; */
  /* background-color:blue; */
}

.services > ul > li > a{
  /* margin: 0 2vw; */
  /* text-decoration: none; */
}

/** TEST */



/*! DROPDOWN LIST */
  /* .services:hover .dropdown {
    display: block;
  }
    
  .dropdown {
    position: absolute;    
    background-color: #191919;
    display: none;
  }
  
  .dropdown li {

  }
  .dropdown a {  
    text-decoration:none;
  } */

/*! HAMBURGER ICON */
.hamburger {
    font-size: 24px;
}
.close{
  font-size: 24px;
}
#menu-icon{
  visibility: hidden
}

#close-icon{
  visibility:hidden;
}


/*! FUNCION FOR DISPLAYING HAMBURGER MENU  */
@media only screen and (max-width: 700px) {
    .navbar{
      padding:4vw;
      justify-content: space-between      
    }

    #menu-icon {
      visibility: visible;
    }

    .spacer{
      height:100px;
      display:flex;
    }
    
    .nav-links {
        padding:6vw 4.5vw;
        position: fixed;
        transform: translateY(-103%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        min-height: 103%;
        width: 100%;
    }

    .nav-links.active {  
      transform: translateY(-3%);
      flex-direction: column;
      opacity: 0.9;
    }      
    
    .nav-links li {
    }

    .hamburger {
      display:flex;
      justify-content: center;
    }
    #close-icon{
      visibility:visible;
      display:flex;
      justify-content: right;

      
    }

}


