* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: aliceblue;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(7, 7, 7, 0.838);
  color: rgb(110, 106, 102);
  text-align: left;
}

a {
  /* text-decoration: none; */
  font-family: Arial, sans-serif;
  color: rgb(212, 211, 209);
  text-align: left;
}

div {
  margin: 10px;
  padding: 20px 20px;
  background-color: rgba(7, 7, 7, 0.838);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 2%;
}


/* FOOTER */
.footer_block {
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}





/* ---------------- TABLE ----------------  */

.row {
  background-color:transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.col {
  width: 48%; /* Adjust as needed to create space between the columns */
}





/* ---------------- BUTTONS ----------------  */
    /*button specific attributes*/
    .button1 {
        background-color: rgb(43, 168, 226);
    }

    /*button specific attributes*/
    .button2 {
        background-color: rgb(43, 168, 226);
    }

    /*These are the shared attributes */
    .button1, .button2 {
        color: antiquewhite;
        cursor: pointer;
        background-repeat: no-repeat;
        width: 150px;
        height: 30px;
        border: 0;
        padding:1%;
        margin:1%;
        text-align: center;
    }


/* _____________________________ ID's _____________________________ */
    /* ---------------- TEXTS ----------------  */
    #button{
        text-align: center;
        font-size: large;
    }

    #footer {
        color: antiquewhite;
        text-align: center;
    }


