
header{
    background: url("./images/title_background.jpg");
    padding:2vw;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.cut-out-text {
    position: relative;
    font-size: 13vh;
    font-weight: bold;
    padding: 20vh;
    background: url("./images/title_background_blurry.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: rgb(77, 77, 77, 0.1);
}

.cut-out-text::before {
    /* LAYER B */
    content: '';
    display: inline-block;
    z-index: -1;
    background: url("./images/title_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.cut-out-text::after {
    /* LAYER A */
    content: '';
    display: inline-block;
    z-index: -2;
    background: url("./images/title_background_blurry.jpg");
}